.nav__list {
  display: inline-flex;
  list-style: none;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.nav__link_active {
  composes: nav__link;
  color: red;
}
